/**
 * Styling for the subsite actions section in the CMS
 */
#SubsiteActions {
	position: absolute;
	padding: 0;
	margin: 0;
	right: 0;
	top: 0;
	width: 350px;
	text-align: right;
	margin-right: 130px;
	height: 51px;
	border-bottom: 3px solid #d4d0c8;
	color: #fff;
}
	#SubsiteActions fieldset {
		padding: 3px;
		border-style: none;
		margin-top: 1px;
		background: none;
	}
		#SubsiteActions fieldset span {
			padding: 3px;
		}

#SubsitesSelect,
#SubsitesSelect option {
	font-size: 12px;
}
	#SubsitesSelect {
		max-width: 200px;
		padding: 3px;
	}

#top #MainMenu #Menu-help {
	margin-right: 260px;
}

#AddSubsiteLink {
	display: block;
	font-size: 80%;
	margin-left: 3px;
}

#Form_AddSubsiteForm .field {
	margin-left: 100px;
}

#Form_AddSubsiteForm label.left {
	float: left;
	width: 100px;
	margin-left: -100px;
}

body.SubsiteAdmin .right form #URL .fieldgroup * {
	font-size: 11px;
}